.redes-home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 6px;
    margin-bottom: 10px;
    font-weight: bold;
}
.redes-home span:nth-child(3){
    border-left: 1px solid rgb(255, 255, 255, 0.1);
    padding: 4px 8px;
}
.redes-icon{
    border-right: 1px solid rgb(255, 255, 255, 0.1);
    padding: 4px 8px;
    font-size: 20px;
}

.blog-tags ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}
.blog-tags ul li a{
    display: block;
    margin-bottom: 5px;
    padding: 7px 10px;
    border: 1px solid #ddd;
    margin-right: 2px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
    margin-right: 5px;
}
.blog-tags ul li a:hover{
    background-color: #cc181e;
    color: white !important;
    transition: all .2s;
}
.vermas button{
    background: linear-gradient(285deg, #f92a28 27%, #da1752 100%, #fff 100%);
    color: white !important;
    border: none;
}
.ig{
    background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}

.masnoticia{
    width: 100%;
    height: 200px;
    position: relative;
}

.masnoticia::before{
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    background: linear-gradient(0deg, rgb(0 0 0 / .5), rgb(0 0 0 / 0));
}
.masnoticia img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.masnoticia .info{
    position: absolute;
    bottom: 0;
    color: white;
    padding: 10px 10px;
    z-index: 2;
}
.category-post-noticias{
    background: linear-gradient(285deg, #f92a28 27%, #da1752 100%, #fff 100%);
    display: inline-block;
    font-weight: 600;
    font-size: 12px;
    padding: 5px 8px;
    margin-bottom: 5px;
    color: white;
}
.post-title p{
    font-weight: 600;
    font-size: 1.1rem;
    font-weight: bold;
    /* overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    visibility: visible; */
}
.post-date{
    font-weight: 600;
    font-size: 13px;
}