.title-noticia{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}
.title-noticia .provincia{
    color: #fff;
    font-size: bold;
    padding: 5px;
}
.title-noticia .titulo{
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.3;
} 
.title-noticia .autor{
    width: 100%;
    display: flex;
    align-items: center;
    color: grey;
    margin-top: 10px;
}

.title-noticia .autor img{
    width: 30px;
    margin-right: 10px;
    border-radius: 50%;
}
.noticia-img{
    margin-top: 20px;
    width: 100%;
    height: 500px;
    object-fit: cover;
    margin-bottom: 20px;
}
.bold{
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 20px;
    line-height: 1.2;
}
.texto-noticia{
    line-height: 1.8;
}

.leer-mas{
    width: 100%;
    margin-top: 50px;
}
.leer-mas p:nth-child(1){
    margin: 10px 0;
    font-size: .9rem;
    font-weight: 600;
    border-top: 3px solid #e32121;
    border-bottom: 1px solid rgba(128, 128, 128, 0.462);
    padding: 10px 0;
}
.leer-mas-contenedor{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.leer-mas-article{
    width: 31%;
    margin-bottom: 20px;
}
.leer-mas-article .provincia{
    color: #fff;
    margin: 10px 0;
}
.leer-mas-texto{
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    visibility: visible;
    line-height: 1.3;
}
.leer-mas-texto:hover{
    text-decoration: underline;
}
.leer-mas-article img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.btn-vermas{
    width: 100%;
    background-color: #e32121;
    border: none;
    padding: 7px 0;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    margin-top: 30px;
}
@media (max-width: 900px){
    .section2{
        display: block;
    }
    .title-noticia .titulo{
        font-size: 2rem;
    } 
    .noticia-img{
        height: 300px;
    }
    .leer-mas-article{
        width: 100%;
        margin-bottom: 20px;
    }
}
