@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}
.container-nav{
  width: 1200px;
  margin: 0 auto;
}
.container2{
  width: 1200px;
  margin: 0 auto;

}
a{
  text-decoration: none !important;
  color: black !important;
}
a:hover{
  cursor: pointer;
}
@media (max-width: 900px){
  .container-nav{
    width: 100%;
  }
  .container2{
    width: 100%;
    padding: 15px;
  }
}
